<div class="jumbotron">
    <div class="container">
    	<h1>Contact</h1>
		<p>I'm Jack, who's working on Whistle. Send anything you wish to <a href="mailto:hello@jacksmith.is">hello@jacksmith.is</a>, or <a href="https://twitter.com/jack_l_smith">@jack_l_smith</a> on Twitter.</p>
    </div>
</div>