<% if user_signed_in? %>
	<div class="jumbotron jumbotron-home">
	    <div class="container">
			<h1>Welcome back!</h1>
		</div>
	</div>
<% else %>
	<div class="jumbotron jumbotron-home">
	    <div class="container animated fadeInDown">
	        <h1>Welcome to Whistle</h1>
			<p>Whistle is an app for tracking your time at work. It's a simple solution for seeing how much  time you're spending on clients and tasks, with some powerful and useful reporting tools.</p>
			<h3>Coming soon.</h3>
	    </div>
	</div>
	<div class="container">
	    <div class="row">
	        <div class="col-md-4">
	            <h2>Easy organising</h2>
	            <p>Track time on different tasks, projects, and clients. Just hit start and stop to record your labours.</p>
	        </div>
	        <div class="col-md-4">
	            <h2>Powerful reporting</h2>
	            <p>Easily calculate totals, see where your time is going, and categorise the data. All of which can be exported.</p>
	        </div>
	        <div class="col-md-4">
	            <h2>Totally free</h2>
	            <p>Whistle won't cost you a penny. Get a free account for life.</p>
	        </div>
	    </div>
	</div>
<% end %>