// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-home {
    background-image: url(image_path('home-bg.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 150px;
    border-radius: 0;
}

.navbar {
	border-radius: 0;
}


// Base

html {
	background-color: $gray-lighter;
	padding: 50px;
	@media (max-width: 768px) {
		padding: 10px;
	}
}

// Header

.site-header {
	padding-top: 20px;
}

.header-logo {
	float: left;
	margin-top: 8px;
}

// Footer

.site-footer {
	margin-top: 100px;
	padding-bottom: 10px;
	a {
		color: $gray;
	}
}

// Home

.home-wrapper {
	padding: 100px;
}

.home-lower {
	background-color: $brand-primary;
	padding: 50px;
	color: #fff;
  	position: relative;
  	margin-top: 50px;
  	min-height: 100px;
  	margin-bottom: 50px;
  	&:before, &:after {
  		content: "";
  		width: 100%;
  		height: 100px;
  		position: absolute;
  		left: 0;
  		transform: skewY(-3deg);
  		background-color: $brand-primary;
  	}
  	&:before {
  		top: -50px;
  	}
  	&:after {
  		bottom: -50px;
  	}
}

.home-lower__inner {
	position: relative;
	z-index: 2;
}